geode-main/

build/
build-win/
cmake-build-*/
.cache/

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.o
*.obj
*.dll
*.so
*.dylib
*.geode

servers/signaling/node_modules/
servers/signaling/.env
deno_proxy.js
servers/dedicated/node_modules/
servers/dedicated/saves/
servers/dedicated/levels/

geode docs/

build-android32/
build-android64/
proxy-server/
MultiplayerEdit-LEGACY-0.3.0/
